* {
    padding: opx;
    margin: 0px;
}

body {
    background-color: #071013;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    color: #D3D4D9;
}

h1 {
    margin-right: 1%;
}

main {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 25%;
    left: 0px;
    right: 0px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.options button {
    width: 150px;
    height: max-content;
    padding: 5px 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
}

.colorMode {
    background-color: #12355B;
    color: #5FAD56;
    transition: all 0.2s;
}

.colorMode:hover {
    box-shadow: 0px 0px 10px 5px #12355B;
    text-shadow: 0px 0px 10px #5FAD56;
    scale: 1.1;
}

.colorMode:active {
    box-shadow: 0px 0px 10px 5px white;
    text-shadow: 0px 0px 10px white;
    color: white;
    scale: 1;
}

.rainbowMode {
    background-color: #D3D4D9;
    transition: all 0.2s;
}

.rainbowMode:hover {
    box-shadow: 0px 0px 10px plum;
    text-shadow: 0px 0px 2px purple;
    scale: 1.1;
}

.rainbowMode:active {
    box-shadow: 0px 0px 10px 5px white;
    text-shadow: 0px 0px 10px white;
    scale: 1;
}

.eraseMode {
    color: white;
    background-color: #F05D5E;
    transition: all 0.2s;
}


.eraseMode:hover {
    box-shadow: 0px 0px 10px 5px #F05D5E;
    text-shadow: 0px 0px 2px purple;
    color: black;
    scale: 1.1;
}

.eraseMode:active {
    box-shadow: 0px 0px 10px 5px white;
    text-shadow: 0px 0px 10px white;
    color: white;
    scale: 1;
}

.clearMode {
    background-color: rgb(153, 36, 36);
    color: white;
    transition: all 0.2s;
}

.clearMode:hover {
    box-shadow: 0px 0px 10px 5px rgb(153, 36, 36);
    text-shadow: 0px 0px 50px white;
    scale: 1.1;
}

.clearMode:active {
    box-shadow: 0px 0px 10px 5px rgb(153, 36, 36);
    text-shadow: 0px 0px 10px rgb(153, 36, 36);
    color: rgb(153, 36, 36);
    background-color: white;
    scale: 1;
}

.on {
    background-color: rgb(236, 236, 236);
    color: black;
    transition: all 0.2s;
}

.on:hover {
    box-shadow: 0px 0px 10px 5px #12355B;
    text-shadow: 0px 0px 50px rgb(153, 36, 36);
    scale: 1.1;
}

.on:active {
    box-shadow: 0px 0px 10px 5px white;
    text-shadow: 0px 0px 10px white;
    color: white;
    background-color: black;
    scale: 1;
}

.off {
    background-color: black;
    color: white;
    transition: all 0.2s;
}

.off:hover {
    box-shadow: 0px 0px 10px 5px #12355B;
    text-shadow: 0px 0px 50px rgb(153, 36, 36);
    scale: 1.1;
}

.off:active {
    box-shadow: 0px 0px 10px 5px white;
    text-shadow: 0px 0px 10px white;
    color: black;
    background-color: white;
    scale: 1;
}


.sketch {
    width: 500px;
    height: 500px;
    border: 2px solid #F05D5E;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.colorPixel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    
}

.colorPixel input[type="range"] {
    appearance: none;
    background-color: #5FAD56;
    height: 8px;
    border-radius: 50px;
    cursor: pointer;
}

.colorPixel input[type="color"]{
    cursor: pointer;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid black;
    flex: 1;
}




footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
}